<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Склад</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Склад</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Resource")">Ресурсы</a></li>
                <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Unit")">Единицы измерения</a></li>
                <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "ReceiptDocument")">Поступления</a></li>
            </ul>
        </div>
    </nav>
    <div class="container mt-3">
        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
